.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: archivo;
  overflow: hidden;
}
button{
	transition: all 0.15s ease-out;
	min-height: 55px;
	min-width: 55px;
}
button:active{
	transform: scale(0.95);
}
